body{
    margin: 0;
    padding: 0;
    background-color: #D9D9D9;
    font-family: 'Amethysta', serif;

}

.top{
    display: flex;
    background-color: #FEFFFC;
    height: 261px;
}

.title{
    display: flex;
    justify-content: space-around;
    height: 36px;
    width: 40%;
    background-color: #FACF19;
    margin-top: 130px;
    margin-left: 350px;
    
}

.legjoy{
    color: #D41E1E;
}

.fruijoy{
    color: #D41E1E;
}

/* This has to be further worked on */
.firstimg{
height: 40px;
}


main{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.theme-a{
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: #8DAC5A;
    height: 90vh;
    width: 40vw;
    justify-content: center;
}

.theme{
    background-color: #FACF19;
    height: 47px;
    width: 250px;
    margin: 15px;
    text-align: center;
   
}

.theme a {
    text-decoration: none;
    font-size: 25px;
}

.specialty{
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color:#8DAC5A;
    height: 90vh;
    width: 40vw;
}


.pannier, .star{
    background-color:#FACF19 ;
    height: 40%;
    width: 50%;
    overflow: hidden;
}


#alllegumes, #allfruits {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-content: flex-start;
    background-color: #8DAC5A;
    height: 480px;
    width: 100%;
}

/* #alllegumes > div, #allfruits > div {
    flex-basis: 20%;
} */

.fruit, .legume{
    background-color: #FACF19;
    height: 110px;
    width: 18%;
    /* margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 15px;
    margin-right: 15px; */
    margin: 15px;
    text-align: center;
    /* flex-grow: 4;
    transition: flex-grow 0.3s; */
}

.fruit:hover{
  background-color: bisque;
  opacity: 0.8;
    /* flex-grow: 10; */
}

.legume:hover{
    /* flex-grow: 10; */
    background-color: bisque;
    opacity: 0.8;
}

.fruit img{
    height:100%;
    width: 100%;
}

.pannier img{
    height:100%;
    width: 100%;
    object-fit: cover;
}

.pannier:hover{
  background-color:magenta;
  opacity: 0.8;
}

.star img{
        height:100%;
        width: 100%;
        object-fit: cover;
}
.star:hover{
  background-color:magenta;
  opacity: 0.8;
}

.legume img{
    height:100%;
    width: 100%;
}

  
footer {
    background-color: #FACF19;
    padding: 20px;
}
  
  .footer-items {
    display: flex;
  }
  
  .footer-item {
    margin-right: 17%;
    text-decoration: none;
  }

  a:hover{
    color: brown;
  }

  
  .footerimage{
    height: 20px;
    margin-left: 5px;
  }


  #image{
    margin-left: 60px;
  }

  .myh2{
    text-align: center;
  }

  .legume:target {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* .popup-content {
    background-color: #fff;
    padding: 20px;
    max-width: 400px;
    text-align: center;
  } */
  
  .close {
    display: block;
    margin-top: 20px;
    text-align: center;
  }

  
      .popup-container {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        height: 350px;
        width: 250px;
        transform: translate(-50%, -50%);
        padding: 20px;
        background-color: #f9f9f9;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
        z-index: 9999;
      }
      
      .popup-text {
        font-size: 18px;
        line-height: 1.4;
        text-decoration: none;
      }
      
      .popup-button {
        cursor: pointer;
        padding: 10px 20px;
        background-color: #4CAF50;
        color: #fff;
        border: none;
        border-radius: 4px;
        font-size: 10px;
  
      }

      .command-button-text{
        text-decoration: none;
   
      }

      .price{
        border-radius: 4px;
      
      }
.extra{
  display: flex;
  
}

footer {

  /* background-color: #FACF19;
  padding: 20px; */
  position: static;
  /* bottom: 0;
  width: 100%; */
}