body{
    margin: 0;
    padding: 0;
    background-color: #D9D9D9;
}

.top{
    display: flex;
    background-color: #FEFFFC;
    height: 261px;
}

.title{
    display: flex;
    justify-content: space-around;
    height: 36px;
    width: 40%;
    background-color: #FACF19;
    margin-top: 130px;
    margin-left: 350px;
    
}

.legjoy{
    color: #D41E1E;
}

.fruijoy{
    color: #D41E1E;
}

/* This has to be further worked on */
.firstimg{
height: 40px;
}


main{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.theme-a{
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: #8DAC5A;
    height: 90vh;
    width: 40vw;
}

.theme{
    background-color: #FACF19;
    height: 47px;
    width: 250px;
    margin: 15px;
    text-align: center;
}

a {
    text-decoration: none;
    text-align: center;
}

.specialty{
    display: flex;
    flex-flow: column;
    background-color:#8DAC5A;
    height: 90vh;
    width: 40vw;
}


.pannier, .star{
    background-color:#FACF19 ;
    height: 300px;
    width: 400px;
    margin: 50px;
    text-align: center;
}


#alllegumes, #allfruits {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-content: flex-start;
    background-color: #8DAC5A;
    height: 400px;
    width: 100%;
}

#alllegumes > div, #allfruits > div {
    flex-basis: 20%;
}

.fruit, .legume{
    background-color: #FACF19;
    height: 100px;
    width: 18%;
    margin: 15px;
    text-align: center;
}


footer {
    background-color: wheat;
    padding: 20px;
}
  
  .footer-items {
    display: flex;
  }
  
  .footer-item {
    margin-right: 17%;
    text-decoration: none;
  }

  a:hover{
    color: brown;
  }
  
  img{
    height: 20px;
    margin-left: 5px;
  }


  #image{
    margin-left: 60px;
  }

  h2{
    text-align: center;
    padding: 0;
    margin: 0;
  }
