body{
    margin: 0;
}

/* Section globale */
#banniere{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FACF19;
    height: 140px;
}

.conteneurs-centred{
    width: 33%;
    text-align: center;
}

.nom-slogan{
    flex-direction: column;
}

/* h1 */
#nom-du-site{
    font-size: 55px;
    margin: 0;
    font-family: 'Amethysta', serif;
    color: #EBE4CB;
    -webkit-text-stroke: 0.8px #AC7C5B;
    text-shadow: 1px 1px 2px black;
}

/* h2 */
#slogan-du-site{
    font-size: 31px;
    font-family: 'Amethysta', serif;
    margin: 0;
    color: #EBE4CB;
    -webkit-text-stroke: 0.4px #AC7C5B;
    text-shadow: 1px 1px 2px black;
}

#logo{
    height: 180px;
}

.boutons-connexion-cart{
    justify-content: center;
}

#bouton-connexion{
    display: flex;
    font-size: 20px;
    background-color: transparent;
    border-radius: 50px;
    border: 2px solid black;
    align-items: center;
}

#cart{
    height: 40px;
}

hr{
    margin: 0;
    color: #EEEEEE;
    background-color: #EEEEEE;
}

nav{
    background-color: #FACF19;
    display: flex;
    font-size: 20px;
}

.nav-flex{
    flex: 1;
    text-align: center;
    text-decoration: none;
    color: black;
    font-family: 'Amethysta', serif;
}

.flexi{
    display: flex;
    justify-content: space-evenly;
}

#lienBouton{
    text-decoration: none;
}

#navContactezNous{
    border-left: 2px solid black ;
}