.introtext{
    text-align: center;
    margin-top: 20px;
    margin-left: 25%;
    margin-right: 25%;
    font-size: 25px;
}

#legumes, #fruits {
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-content: flex-start;
    background-color: #8DAC5A;
    height: 360px;
    width: 100%;
}

/* #legumes > div, #fruits > div {
    flex-basis: 40%;
} */

.fruit1, .legume1{
    background-color: #FACF19;
    height: 150px;
    width: 18%;
    margin:15px;
    text-align: center;
}

.fruit1 img{
    height:100%;
    width: 60%;
    /* flex-grow: 4;
    transition: flex-grow 0.3s; */
}

.legume1 img{
    height:100%;
    width: 60%;
    /* flex-grow: 4;
    transition: flex-grow 0.3s; */
}

.fruit1:hover{
  background-color: bisque;
}

.legume1:hover{
  background-color: bisque;
}

footer {
  background-color: #FACF19;
  padding: 20px;
}

.footer-items {
  display: flex;
}

.footer-item {
  margin-right: 17%;
  text-decoration: none;
}

a:hover{
  color: brown;
}

.footerimage{
  height: 20px;
  margin-left: 5px;
}


#image{
  margin-left: 60px;
}

.popup-container {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  height: 350px;
  width: 250px;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  z-index: 9999;
}

.popup-text {
  font-size: 18px;
  line-height: 1.4;
}

.popup-button {
  cursor: pointer;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 1àpx;
}

.command-button-text{
  text-decoration: none;
}


.price{
  border-radius: 4px;

}
.command-button-text{
  text-decoration: none;

}

.price{
  border-radius: 4px;

}
.extra{
display: flex;

}

footer {

  /* background-color: #FACF19;
  padding: 20px; */
  position: static;
  /* bottom: 0;
  width: 100%; */
}