body{
    margin: 0;
    font-family: 'Roboto', sans-serif, arial;
    background-color: white;
    text-align: center;
}   

#merci{
    display: flex;
    flex-direction: row; 
    justify-content: center;

}


