.grosTitres{
    text-align: center;
    margin-top: 1%;
    margin-bottom: 1%;
}

#grosZdeh{
    position: absolute;
    bottom: 14.5%;
    left: 13%;
    transform: scaleX(-1);
}

#smokeCloud{
    position: absolute;
    bottom: 21.5%;
    left: 13%;
    transform: rotate(320deg);
}

#paveQuiSommesNous{
    background-color: #A3CC52;
    padding: 2%;
    font-size: 120%;
}

#photoFerme{
    width: 100%;
}

.lettresEntourees{
    background-color: rgba(240, 248, 255, 0.363);
    color: black;
}