.grosTitres{
    text-align: center;
    margin-top: 1%;
    margin-bottom: 1%;
}

#grosZdeh{
    position: absolute;
    bottom: 14.5%;
    left: 13%;
    transform: scaleX(-1);
    animation: 3s linear infinite alternate slidein;
}

#smokeCloud{
    position: absolute;
    bottom: 13.5%;
    left: 15%;
    transform: rotate(60deg);
    animation: apar 3s linear infinite;

}

#paveQuiSommesNous{
    background-color: #A3CC52;
    padding: 2%;
    font-size: 120%;
}

#photoFerme{
    width: 100%;
}

.lettresEntourees{
    background-color: rgba(240, 248, 255, 0.363);
    color: black;
}



@keyframes slidein {
    0%   {left:13%; }
    
    50%  {left:17.4%; }
    100% {left:13%; }
  }
@keyframes apar {
    0%   {opacity:0 }
    
    50%  {opacity: 1 }
    100% {opacity: 0 }
  }
