body{
    margin: 0;
    font-family: 'Roboto', sans-serif, arial;

}
main{
    display: flex;
    margin-bottom: 6%;

}
.popo{
    display: flex;
    color: #FACF19;
    text-align: center;

}
.popo1{
    display: flex;
    justify-content: center;
    background-color: #FACF19;
    border-radius: 30px;
    margin-bottom: 5%;
    border: 6px solid #A3CC52;

}
.popo2{
    display: flex;
    justify-content: center;
    background-color: #FACF19;
    border-radius: 30px;
    margin-bottom: 5%;
    border: 6px solid #A3CC52;
}
.popo3{
    display: flex;
    justify-content: center;
    background-color: #FACF19;
    border-radius: 30px;
    border: 6px solid #A3CC52;
}

.titi1{
    display: flex;
    justify-content: center;
    background-color: #A3CC52 ;
    border-radius: 30px;
    margin-bottom: 7%;
    margin-top: 4%; 
    border: 6px solid #FACF19;
}
.titi2{
    justify-content: center;
    background-color: #A3CC52;
    border-radius: 30px;
    margin-bottom: 4%;
    padding: 9px;
    border: 6px solid #FACF19;
}

.modl{
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
}

.toto1{
    display: flex;
    justify-content: center;
    background-color: #A3CC52 ;
    border-radius: 30px;
    margin-bottom: 4%;
    margin-top: 3%;
    border: 6px solid #FACF19;
}
.toto2{
    
    
    background-color: #A3CC52 ;
    border-radius: 30px;
    margin-bottom: 4%;
    padding: 10px;
    border: 6px solid #FACF19;
    
} 

.vopani,.modl,.modp{
    width: 33%;
    padding: 10px;
    margin: 10px;
}
.modl,.modp{ 
    margin-top:4%
}
h2{
    display: flex;
}

.accordion-button:hover{
    border-radius: 30px;
}

.accordion-button{

    color: #A3CC52; 
}

.accordion-collapse{
    background-color: #A3CC52;
    color: black;
}

.accordion-button:focus{
    justify-content: center;
    color: white;
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
}

